*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    position: relative;
}
body
{
    background-color: #130819;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.text
{
    color: #fff;
    font-family: Roboto, sans-serif;
    background: linear-gradient(180deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);
    padding: 15px;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: -5px -5px 5px 1px rgb(0, 242, 234), 5px 5px 5px 1px rgb(255, 0, 79);
}
.text a{
    color: #fff;
    text-decoration: underline;
}
.wrapper
{
    /* width: 100vw; */
    position: relative;
    text-align: center;
    overflow: hidden;
}
canvas
{
    z-index: -1;
    height: 100vh;
    width: 100%;
    /* margin-top:0; */
}
.demo
{
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
}
#terminal
{
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(40, 42, 54);
    box-shadow: 5px 5px 5px 1px rgb(0, 242, 234), -5px -5px 5px 1px rgb(255, 0, 79);
}
.terminal
{
    padding-right: 10px;
}
.xterm-viewport
{
    width: auto !important;
}
.xterm-viewport::-webkit-scrollbar
{
    width: 10px;
}
.xterm-viewport::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-color: #ffffff20;
}
.xterm-viewport::-webkit-scrollbar-track {
    opacity: 0;
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-thumb
{
    background-color: #282a36;
}
/* ::-webkit-scrollbar-button
{
    visibility: hidden;
} */
button
{
    background-color: #282a36;
}