*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    /* overflow: hidden; */
    position: relative;
}
body
{
    background-color: #130819;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.text
{
    color: #fff;
    font-family: Roboto, sans-serif;
    background: linear-gradient(180deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.5) 100%);
    padding: 15px;
    width: 50%;
}
.text a{
    color: #fff;
    text-decoration: underline;
}
.wrapper
{
    /* width: 100vw; */
    position: relative;
    text-align: center;
}