*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #130819;
}
#terminal
{
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(40, 42, 54);
    box-shadow: 5px 5px 5px 1px rgb(0, 242, 234), -5px -5px 5px 1px rgb(255, 0, 79);
}
.terminal
{
    padding-right: 10px;
}
.xterm-viewport
{
    width: auto !important;
}
.xterm-viewport::-webkit-scrollbar
{
    width: 10px;
}
.xterm-viewport::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-color: #ffffff20;
}
.xterm-viewport::-webkit-scrollbar-track {
    opacity: 0;
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-thumb
{
    background-color: #282a36;
}